*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(230, 230, 230);
}
.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  
}
/* Header */
.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app_status{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_left{
  flex: 0.8;
}
@media (max-width: 990px){
  .App{
    flex-direction: column;
  }
}